<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
@charset "UTF-8"; 

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak, .ng-hide:not (.ng-hide-animate ){
	display: none !important;
}

ng\:form {
	display: block;
}

.ng-animate-shim {
	visibility: hidden;
}

.ng-anchor {
	position: absolute;
}
</style>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,maximum-scale=1,minimum-scale=1,initial-scale=1">
<link href="./Deploy SSD cloud servers in seconds. - Scaleway_files/css"
	rel="stylesheet">
<meta name="google-site-verification"
	content="cGq4K_U6q6e6bqdRct1K4gk7liZh63YOFnz2KdBWZzM">
<title>Deploy SSD cloud servers in seconds. - Scaleway</title>
<meta property="og:title" content="Deploy SSD cloud servers in seconds.">
<meta name="description"
	content="Scaleway is a cloud computing platform offering SSD cloud servers for any workload, starting at €1.99 per month. Pay as you go with a simple and flexible pricing.">
<meta property="og:description"
	content="Scaleway is a cloud computing platform offering SSD cloud servers for any workload, starting at €1.99 per month. Pay as you go with a simple and flexible pricing.">
<link rel="canonical" href="https://scaleway.com/">
<meta property="og:url" content="https://scaleway.com/">
<meta property="og:site_name" content="Scaleway">
<meta property="og:image"
	content="https://scaleway.com/assets/images/og/scaleway.png">
<meta name="twitter:image"
	content="https://scaleway.com/assets/images/og/scaleway.png">
<link rel="prev" href="https://scaleway.com/page10">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@scaleway">
<meta name="twitter:creator" content="@scaleway">
<script type="text/javascript" async="" defer=""
	src="./Deploy SSD cloud servers in seconds. - Scaleway_files/piwik.js"></script>

<link rel="manifest" href="https://www.scaleway.com/manifest.json">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-TileImage"
	content="/assets/images/icons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet"
	href="./Deploy SSD cloud servers in seconds. - Scaleway_files/angular-ui-notification-d587e5c405.min.css">
<link rel="stylesheet"
	href="./Deploy SSD cloud servers in seconds. - Scaleway_files/angular-ui-switch-fc63192144.min.css">
<link rel="stylesheet"
	href="./Deploy SSD cloud servers in seconds. - Scaleway_files/style-9501811805.min.css">
<link type="application/atom+xml" rel="alternate"
	href="https://scaleway.com/feed.xml" title="Scaleway">
</head>
<body ng-app="wwwScalewayApp" class="ng-scope">
	<div class="Topbanner Topbanner__hiring">
		<div class="container">
			<a
				href="https://blog.online.net/p/dcbcb8be-1fde-42f4-a51b-e7d9c8493d4f/"
				target="_blank" title="Scaleway blog post" hreflang="en"><span
				class="text">Introducing Scaleway NextGen NVMe Cloud Servers
					with Hot-Snapshots. 🚀</span></a>
		</div>
	</div>
	<nav class="navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button"
					class="navbar-toggle collapsed navbar-scaleway-collapse"
					data-toggle="collapse" data-target="#navbar-scaleway-collapse"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="https://www.scaleway.com/"></a>
			</div>
			<div class="collapse navbar-collapse navbar-scaleway-collapse"
				id="navbar-scaleway-collapse">
				<ul class="main-navbar nav navbar-nav navbar-center">
					<li class="dropdown"><a href="https://www.scaleway.com/#"
						class="dropdown-toggle" data-toggle="dropdown">Products <svg
								class="dropdown-chevron" xmlns="http://www.w3.org/2000/svg"
								width="8" height="5" viewBox="0 0 7.9 5.2">
								<use xlink:href="#link-chevron"></use></svg></a>
					<div class="dropdown-menu">
							<div class="row dropdown-items">
								<div class="col-sm-12">
									<div class="media">
										<a href="https://www.scaleway.com/virtual-cloud-servers"
											class="media-body dropdown-menu-large-item"><h3>Virtual
												SSD Cloud Servers</h3>
											<p>High performance virtual instances, built for
												developers, running in the cloud.</p></a>
									</div>
									<div class="media">
										<a href="https://www.scaleway.com/baremetal-cloud-servers"
											class="media-body dropdown-menu-large-item"><h3>BareMetal
												SSD Cloud Servers</h3>
											<p>True BareMetal servers for quantifiable, predictable
												and constant performances.</p></a>
									</div>
									<div class="media">
										<a href="https://www.scaleway.com/object-storage"
											class="media-body dropdown-menu-large-item"><h3>
												Object Storage <span class="badge badge--warning"><abbr
													title="" preview="">Early Access</abbr></span>
											</h3>
											<p>Simple, scalable, fast and reliable object storage.</p></a>
									</div>
									<div class="media">
										<a href="https://www.scaleway.com/kubernetes"
											class="media-body dropdown-menu-large-item"><h3>
												Kubernetes <span class="badge badge--warning"><abbr
													title="" preview="">Early Access</abbr></span>
											</h3>
											<p>Managed, reliable and ready to use Kubernetes platform
												at scale.</p></a>
									</div>
									<div class="media">
										<a href="https://www.scaleway.com/imagehub"
											class="media-body dropdown-menu-large-item"><h3>ImageHub</h3>
											<p>Your favorite distributions and applications on your
												Cloud Servers in seconds.</p></a>
									</div>
									<div class="media">
										<a href="https://www.scaleway.com/networking"
											class="media-body dropdown-menu-large-item"><h3>Networking</h3>
											<p>Powerful and resilient network for mission-critical
												infrastructure.</p></a>
									</div>
								</div>
							</div>
						</div></li>
					<li><a href="https://www.scaleway.com/pricing">Pricing</a></li>
					<li><a href="https://www.scaleway.com/support">Support</a></li>
					<li><a href="https://www.scaleway.com/developer">Developer</a></li>
					<li><a href="https://www.scaleway.com/faq">FAQ</a></li>
					<li><a href="https://www.scaleway.com/docs">Help</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://blog.scaleway.com/" target="_blank">Blog</a></li>
					<li><a href="https://cloud.scaleway.com/#/login"
						target="_blank">Log in</a></li>
					<li><a href="https://cloud.scaleway.com/#/signup"
						class="btn btn-default btn-signup" target="_blank">Sign up</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="cookie-banner-fixed"
		class="cookie-banner-fixed cookie-banner-hidden">
		<div class="cookie-banner-container">
			<div class="cookie-banner-container-inside">
				<div class="cookie-banner-sentence">
					By clicking or navigating this website site, you agree to allow our
					collection of information on Scaleway to offer you an optimal user
					experience and to keep track of statistics through cookies. <a
						href="https://www.scaleway.com/terms/cookies"
						class="cookie-banner-link-more">Learn more about our Cookie
						Policy.</a>
				</div>
				<div class="cookie-banner-btn-container">
					<button class="cookie-banner-btn-ok" onclick="setCookieOK()">OK</button>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="jumbotron jumbotron-home text-center">
			<h1 class="big-title">
				The Disruptive Cloud<br>Computing Platform
			</h1>
			<h2 class="big-title-desc">Deploy SSD Cloud Servers in seconds.</h2>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 signup-form">
						<form
							class="form-inline ng-pristine ng-valid ng-scope ng-valid-email"
							ng-controller="SignupCtrl">
							<div class="form-group col-sm-4">
								<input
									class="form-control ng-pristine ng-valid ng-valid-email ng-touched ng-empty"
									focus="" id="email" type="email" ng-model="email" name="email"
									placeholder="Email">
							</div>
							<div class="form-group col-sm-4">
								<input
									class="form-control ng-pristine ng-valid ng-empty ng-touched"
									id="password" type="password" ng-model="password"
									name="password" placeholder="Password">
							</div>
							<div class="form-group col-sm-4">
								<button ng-click="signup()" class="btn btn-primary"
									type="submit" id="submit" name="submit">Create an
									account</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<h1 class="big-title">Pay as You Go</h1>
			<h2 class="big-title-desc">Enjoy a new cloud experience starting
				at €0.004 per hour.</h2>
			<div class="container">
				<div class="row bundle-container">
					<div class="col-md-3 col-sm-6 col-xs-12 bundle bundle-pricing">
						<div class="circle-badge circle-badge-abs">New</div>
						<div class="bundle-wrapper">
							<div class="top">
								<h3>Start</h3>
								<lead>1-XS</lead>
								<hr>
							</div>
							<div class="specs">
								<span><strong>1</strong> x86-64 core</span>
							</div>
							<div class="specs">
								<span><strong>1&nbsp;GB</strong> memory</span>
							</div>
							<div class="specs">
								<span><strong>25&nbsp;GB</strong> NVMe SSD disk</span>
							</div>
							<div class="specs">
								<span><strong>1</strong> flexible public IPv4</span>
							</div>
							<div class="specs">
								<span><strong>100&nbsp;Mbit/s</strong> unmetered
									bandwidth</span>
							</div>
							<div class="pricing">
								<h4 class="bundle-pricing-big-title">€1.99</h4>
								<p class="bundle-pricing-unit">per month</p>
								<a
									href="https://www.scaleway.com/virtual-cloud-servers/#anchor_starter"
									class="btn btn-lg btn-default">Discover</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 bundle bundle-pricing">
						<div class="bundle-wrapper">
							<div class="top">
								<h3>Pro</h3>
								<lead>X64-15GB</lead>
								<hr>
							</div>
							<div class="specs">
								<span><strong>6</strong> x86-64 cores</span>
							</div>
							<div class="specs">
								<span><strong>15&nbsp;GB</strong> memory</span>
							</div>
							<div class="specs">
								<span><strong>200&nbsp;GB</strong> SSD disk</span>
							</div>
							<div class="specs">
								<span><strong>1</strong> flexible public IPv4</span>
							</div>
							<div class="specs">
								<span><strong>250&nbsp;Mbit/s</strong> unmetered
									bandwidth</span>
							</div>
							<div class="pricing">
								<h4 class="bundle-pricing-big-title">€24.99</h4>
								<p class="bundle-pricing-unit">per month</p>
								<a
									href="https://www.scaleway.com/virtual-cloud-servers/#anchor_pro"
									class="btn btn-lg btn-default">Discover</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 bundle bundle-pricing">
						<div class="bundle-wrapper">
							<div class="top">
								<h3>Arm</h3>
								<lead>ARM64-2GB</lead>
								<hr>
							</div>
							<div class="specs">
								<span><strong>4</strong> ARMv8 cores</span>
							</div>
							<div class="specs">
								<span><strong>2&nbsp;GB</strong> memory</span>
							</div>
							<div class="specs">
								<span><strong>50&nbsp;GB</strong> SSD disk</span>
							</div>
							<div class="specs">
								<span><strong>1</strong> flexible public IPv4</span>
							</div>
							<div class="specs">
								<span><strong>200&nbsp;Mbit/s</strong> unmetered
									bandwidth</span>
							</div>
							<div class="pricing">
								<h4 class="bundle-pricing-big-title">€2.99</h4>
								<p class="bundle-pricing-unit">per month</p>
								<a
									href="https://www.scaleway.com/virtual-cloud-servers/#anchor_arm"
									class="btn btn-lg btn-default">Discover</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 bundle bundle-pricing">
						<div class="bundle-wrapper">
							<div class="top">
								<h3>BareMetal</h3>
								<lead>C1</lead>
								<hr>
							</div>
							<div class="specs">
								<span><strong>4</strong> dedicated cores</span>
							</div>
							<div class="specs">
								<span><strong>2&nbsp;GB</strong> memory</span>
							</div>
							<div class="specs">
								<span><strong>50&nbsp;GB</strong> SSD Disk</span>
							</div>
							<div class="specs">
								<span><strong>1</strong> flexible public IPv4</span>
							</div>
							<div class="specs">
								<span><strong>200&nbsp;Mbit/s</strong> unmetered
									bandwidth</span>
							</div>
							<div class="pricing">
								<h4 class="bundle-pricing-big-title">€2.99</h4>
								<p class="bundle-pricing-unit">per month</p>
								<a href="https://www.scaleway.com/baremetal-cloud-servers"
									class="btn btn-lg btn-default">Discover</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="default-block-100-20 feature-list">
			<div class="container">
				<div class="row">
					<h1 class="text-center scw-title">Manage Your Infrastructure
						at Scale</h1>
					<h2 class="text-center scw-title-desc">Build your cloud
						infrastructure in seconds.</h2>
					<div class="col-md-5 col-sm-6">
						<div class="media">
							<div class="media-left media-middle">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/datacenters.svg"
									alt="Multiple Datacenters Illustration">
							</div>
							<div class="media-body">
								<h4>Multiple Datacenters</h4>
								<p>Maximize your services reliability by running your
									infrastructure through autonomous facilities that are spread
									accross multiple geographic regions.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/sla.svg"
									alt="99.9% SLA Illustration">
							</div>
							<div class="media-body">
								<h4>99.9% SLA</h4>
								<p>We provide a 24×7 customer service, and are reachable via
									tickets with a 99.9% network service-level agreement (SLA). If
									we fail to deliver, we will credit you back.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/bandwidth.svg"
									alt="Over 5 Tb/s of internet bandwidth Illustration">
							</div>
							<div class="media-body">
								<h4>Over 5&nbsp;Tb/s of internet bandwidth</h4>
								<p>We give you the power to deliver content anywhere thanks
									to our multiple high-end transit providers and the best
									peerings.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/multi-arch.svg"
									alt="Multiple Architecture Illustration">
							</div>
							<div class="media-body">
								<h4>Multiple Architecture</h4>
								<p>Scaleway is the first platform to provide x86-64, ARMv7
									as well as ARMv8 bare-metal and virtual cloud SSD servers.</p>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2 col-sm-6">
						<div class="media">
							<div class="media-left media-middle">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/cloud.svg"
									alt="Designed for the Cloud Illustration">
							</div>
							<div class="media-body">
								<h4>Designed for the Cloud</h4>
								<p>Our hardware is designed by and for Scaleway in our
									headquarters located in Paris, France.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/devtools.svg"
									alt="Developer Tools Illustration">
							</div>
							<div class="media-body">
								<h4>Developer Tools</h4>
								<p>Interact with Scaleway and take control of the cloud in
									minutes with our many tools, resources and third-party
									applications.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/billing.svg"
									alt="Hourly Billing Illustration">
							</div>
							<div class="media-body">
								<h4>Hourly Billing</h4>
								<p>All our cloud resources are billed per hour with monthly
									capping. Scaleway pricing is predictable and transparent, with
									no hidden costs.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/combinations.svg"
									alt="Infinite Cloud Combinations Illustration">
							</div>
							<div class="media-body">
								<h4>Infinite Cloud Combinations</h4>
								<p>Limitless infrastructure combinations: additional
									volumes, movable IPs, security groups and hot snapshots are
									available on all our servers.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="default-block-20-100">
			<div class="container">
				<div class="row">
					<div class="col-md-12 flex-wrapper cta">
						<div class="col-md-9 flex-center">
							<h1 class="text-center scw-title">Discover a New Cloud
								Experience</h1>
							<h2 class="text-center scw-title-desc">Deploy SSD Cloud
								Servers in seconds.</h2>
						</div>
						<div class="col-md-3 flex-center">
							<a href="https://cloud.scaleway.com/#/signup"
								class="btn btn-default btn-lg" type="submit" id="submit">Create
								an account</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="separator">
		<div class="default-block bi-color">
			<div class="container">
				<div class="row features">
					<div class="col-sm-6 col-xs-12 pull-right right">
						<img
							src="./Deploy SSD cloud servers in seconds. - Scaleway_files/platform.svg"
							alt="One Platform,&lt;br/&gt;All Your Needs Illustration">
						<h1 class="scw-title">
							One Platform,<br>All Your Needs
						</h1>
						<h2 class="scw-title-desc">Scaleway is a unique IaaS platform
							that offers simple and powerful features to take control of the
							cloud in seconds.</h2>
						<a href="https://www.scaleway.com/pricing"
							class="btn btn-default btn-lg" type="submit" id="submit">Discover</a>
					</div>
					<div class="col-sm-6 col-xs-12 flex-center pull-left left">
						<div class="panel-group" id="accordion" role="tablist"
							aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingP01">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse"
											data-parent="#accordion"
											href="https://www.scaleway.com/#collapseP01"
											aria-expanded="true" aria-controls="collapseP01"><span
											class="icon-check" aria-hidden="true"></span> Start SSD NVMe
											Cloud Servers <span class="panel-chevron-container"><svg
													class="panel-chevron" xmlns="http://www.w3.org/2000/svg"
													width="16" height="10" viewBox="0 0 7.9 5.2">
													<use xlink:href="#link-chevron"></use></svg></span></a>
									</h4>
								</div>
								<div id="collapseP01" class="panel-collapse collapse in"
									role="tabpanel" aria-labelledby="headingP01">
									<div class="panel-body">
										<p>The Start cloud generation offers the best
											price-performance ratio. Develop, deploy and grow your
											infrastructure, affordably, at scale.</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingP02">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse"
											data-parent="#accordion"
											href="https://www.scaleway.com/#collapseP02"
											aria-expanded="false" aria-controls="collapseP02"><span
											class="icon-check" aria-hidden="true"></span> Pro SSD Cloud
											Servers <span class="panel-chevron-container"><svg
													class="panel-chevron" xmlns="http://www.w3.org/2000/svg"
													width="16" height="10" viewBox="0 0 7.9 5.2">
													<use xlink:href="#link-chevron"></use></svg></span></a>
									</h4>
								</div>
								<div id="collapseP02" class="panel-collapse collapse"
									role="tabpanel" aria-labelledby="headingP02">
									<div class="panel-body">
										<p>High performance SSD Cloud Servers designed for
											intensive workloads: batch processing, ad serving, gaming,
											video-encoding, and high performance databases or in-memory
											caches.</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingP03">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse"
											data-parent="#accordion"
											href="https://www.scaleway.com/#collapseP03"
											aria-expanded="false" aria-controls="collapseP03"><span
											class="icon-check" aria-hidden="true"></span> Arm SSD Cloud
											Servers <span class="panel-chevron-container"><svg
													class="panel-chevron" xmlns="http://www.w3.org/2000/svg"
													width="16" height="10" viewBox="0 0 7.9 5.2">
													<use xlink:href="#link-chevron"></use></svg></span></a>
									</h4>
								</div>
								<div id="collapseP03" class="panel-collapse collapse"
									role="tabpanel" aria-labelledby="headingP03">
									<div class="panel-body">
										<p>Scaleway is the world’s first cloud computing platform
											offering ARMv7 and ARMv8 SSD Cloud Servers built for
											developers. ARM is the leading architecture in the IoT world
											with an excellent price/performance ratio and you can now
											benefit from it on your servers!</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingP04">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse"
											data-parent="#accordion"
											href="https://www.scaleway.com/#collapseP04"
											aria-expanded="false" aria-controls="collapseP04"><span
											class="icon-check" aria-hidden="true"></span> BareMetal SSD
											Cloud Servers <span class="panel-chevron-container"><svg
													class="panel-chevron" xmlns="http://www.w3.org/2000/svg"
													width="16" height="10" viewBox="0 0 7.9 5.2">
													<use xlink:href="#link-chevron"></use></svg></span></a>
									</h4>
								</div>
								<div id="collapseP04" class="panel-collapse collapse"
									role="tabpanel" aria-labelledby="headingP04">
									<div class="panel-body">
										<p>Get predictable and constant performances without noisy
											neighbors. BareMetal SSD servers provide stable performance
											and are ideal for those who need on-demand predictable
											compute power. Stop sharing your resources, keep them for
											yourself.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="separator">
		<div class="default-block regions">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<img
							src="./Deploy SSD cloud servers in seconds. - Scaleway_files/datacenters.svg">
						<h1 class="scw-title">Deploy and Scale Your Infrastructure in
							Our Datacenters</h1>
						<h2 class="scw-title-desc">Independent datacenters, global
							high-capacity network, one single interface.</h2>
					</div>
					<div class="col-md-8">
						<div
							class="col-md-5 col-md-offset-2 col-sm-6 bundle bundle-region text-center">
							<div class="bundle-wrapper">
								<div class="top">
									<img style="width: 40px"
										src="./Deploy SSD cloud servers in seconds. - Scaleway_files/france.svg">
									<h3 style="margin-top: 15px">Paris</h3>
									<hr style="border-top: 2px solid #ffbd2b; width: 140px">
								</div>
								<div class="specs">
									<span>Tier-1 bandwidth</span>
								</div>
								<div class="specs">
									<span>Resilient network</span>
								</div>
								<div class="specs">
									<span>Over 5&nbsp;Tb/s of network capacity</span>
								</div>
								<div class="specs">
									<span>Unlimited transfer</span>
								</div>
								<div class="pricing">
									<a href="https://cloud.scaleway.com/#/zones/par1/servers/new"
										class="btn btn-lg btn-default">Deploy in PAR1</a>
								</div>
							</div>
						</div>
						<div
							class="col-md-5 col-sm-6 bundle text-center bundle-region bundle-region-hl">
							<div class="bundle-wrapper">
								<div class="top">
									<img style="width: 40px"
										src="./Deploy SSD cloud servers in seconds. - Scaleway_files/netherlands.svg">
									<h3 style="margin-top: 15px">Amsterdam</h3>
									<hr style="border-top: 2px solid #ffbd2b; width: 140px">
								</div>
								<div class="specs">
									<span>Direct AMS-IX Access</span>
								</div>
								<div class="specs">
									<span>Resilient network</span>
								</div>
								<div class="specs">
									<span>Ultra low latency routes</span>
								</div>
								<div class="specs">
									<span>Unlimited transfer</span>
								</div>
								<div class="pricing">
									<a href="https://cloud.scaleway.com/#/zones/ams1/servers/new"
										class="btn btn-lg btn-default">Deploy in AMS1</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="default-block">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<img class="center-block"
							src="./Deploy SSD cloud servers in seconds. - Scaleway_files/clients.svg"
							alt="Awesome Teams Trust Scaleway&lt;br/&gt;to Host Their Infrastructures Illustration">
						<h1 class="scw-title">
							Awesome Teams Trust Scaleway<br>to Host Their
							Infrastructures
						</h1>
					</div>
				</div>
				<div class="row teams">
					<div class="logos">
						<div class="logos-row">
							<div class="logo">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/admetricks.png"
									alt="Admetricks Logo">
							</div>
							<div class="logo">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/gitlab.png"
									alt="Node source Logo">
							</div>
							<div class="logo">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/golang.png"
									alt="Golang Logo">
							</div>
						</div>
						<div class="logos-row">
							<div class="logo">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/alpine.png"
									alt="Alpine Logo">
							</div>
							<div class="logo">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/logograb.png"
									alt="Logograb Logo">
							</div>
							<div class="logo">
								<img
									src="./Deploy SSD cloud servers in seconds. - Scaleway_files/nodejs.png"
									alt="Node.js Logo">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row is-flex">
				<div class="col-md-2 col-sm-6 col-xs-12 paddingtop-bottom">
					<h6 class="heading7">Company</h6>
					<ul class="footer-ul">
						<li><a href="https://www.scaleway.com/about">About</a></li>
						<li><a href="https://careers.scaleway.com/" target="_blank">Careers</a></li>
						<li><a href="https://www.scaleway.com/about/#press-media">Press&nbsp;&amp;
								News</a></li>
						<li><a href="https://www.scaleway.com/terms">Terms</a></li>
						<li><a href="https://online.net/" target="_blank">Online</a></li>
						<li><a href="http://www.iliad-datacenter.com/"
							target="_blank">Iliad Datacenter</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12 paddingtop-bottom">
					<h6 class="heading7">Products</h6>
					<ul class="footer-ul">
						<li><a href="https://www.scaleway.com/virtual-cloud-servers">Virtual
								Cloud Servers</a></li>
						<li><a
							href="https://www.scaleway.com/baremetal-cloud-servers">BareMetal
								Cloud Servers</a></li>
						<li><a href="https://www.scaleway.com/networking">Networking</a></li>
						<li><a href="https://www.scaleway.com/imagehub">ImageHub</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12 paddingtop-bottom">
					<h6 class="heading7">Resources</h6>
					<ul class="footer-ul">
						<li><a href="https://www.scaleway.com/pricing">Pricing</a></li>
						<li><a href="https://www.scaleway.com/docs">Help</a></li>
						<li><a href="https://www.scaleway.com/faq">FAQ</a></li>
						<li><a href="https://www.scaleway.com/developer">Developer</a></li>
						<li><a href="https://developer.scaleway.com/">API</a></li>
						<li><a href="https://www.scaleway.com/support/#contact">Contact</a></li>
						<li><a href="https://blog.scaleway.com/" target="_blank">Blog</a></li>
						<li><a href="http://netmap.online.net/" target="_blank">Network</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12 paddingtop-bottom">
					<h6 class="heading7">Support</h6>
					<ul class="footer-ul">
						<li><a href="https://abuse.online.net/" target="_blank">Report
								abuse</a></li>
						<li><a href="https://community.scaleway.com/" target="_blank">Community</a></li>
						<li><a href="https://www.scaleway.com/support"
							target="_blank">Support</a></li>
						<li><a href="https://status.online.net/" target="_blank">Status</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 footerleft">
					<div class="logofooter">
						<img class="center-block"
							src="./Deploy SSD cloud servers in seconds. - Scaleway_files/scw-logo-large-purple.svg"
							width="200px" alt="Illustration Scaleway footer">
					</div>
					<ul class="list-inline text-center">
						<li><a href="https://slack.scaleway.com/"><span
								class="sicon-slack"></span></a></li>
						<li><a href="https://github.com/scaleway/"><span
								class="ficon-github"></span></a></li>
						<li><a href="https://twitter.com/scaleway/"><span
								class="ficon-twitter"></span></a></li>
						<li><a href="https://instagram.com/scaleway/"><span
								class="ficon-instagram"></span></a></li>
						<li><a href="https://facebook.com/scaleway/"><span
								class="ficon-facebook"></span></a></li>
						<li><a href="https://meetup.com/scaleway-paris/"><span
								class="ficon-meetup"></span></a></li>
					</ul>
					<br>
					<a href="https://careers.scaleway.com/"
						class="btn btn-primary btn-brand" target="_blank">We're
						Hiring!</a>
				</div>
			</div>
		</div>
	</footer>
	<script
		src="./Deploy SSD cloud servers in seconds. - Scaleway_files/index-65a370bf2e.min.js"></script>
	<script type="text/javascript">
		var _paq = _paq || [];

		// non propagation
		_paq
				.push([ function() {
					var self = this;
					function getOriginalVisitorCookieTimeout() {
						var now = new Date(), nowTs = Math
								.round(now.getTime() / 1000), visitorInfo = self
								.getVisitorInfo();
						var createTs = parseInt(visitorInfo[2]);
						var cookieTimeout = 33696000; // 13 mois en secondes
						var originalTimeout = createTs + cookieTimeout - nowTs;
						return originalTimeout;
					}
					this
							.setVisitorCookieTimeout(getOriginalVisitorCookieTimeout());
				} ]);
		// -- piwik 
		_paq.push([ "setDomains", [ "*.scaleway.com" ] ]);
		_paq.push([ 'trackPageView' ]);
		_paq.push([ 'enableLinkTracking' ]);
		(function() {
			var u = "https://stats.cloud.online.net/";
			_paq.push([ 'setTrackerUrl', u + 'piwik.php' ]);
			_paq.push([ 'setSiteId', 6 ]);
			var d = document, g = d.createElement('script'), s = d
					.getElementsByTagName('script')[0];
			g.type = 'text/javascript';
			g.async = true;
			g.defer = true;
			g.src = u + 'piwik.js';
			s.parentNode.insertBefore(g, s);
		})();
	</script>
	<noscript>
		<p>
			<img src="https://stats.cloud.online.net/piwik.php?idsite=6"
				style="border: 0" alt="">
		</p>
	</noscript>
	<script type="text/javascript"
		src="./Deploy SSD cloud servers in seconds. - Scaleway_files/clickheat.js"></script>
	<script type="text/javascript"><!--
clickHeatSite = 6;clickHeatGroup = encodeURIComponent(window.location.pathname+window.location.search);clickHeatServer = 'https://stats.cloud.online.net/plugins/ClickHeat/libs/click.php';initClickHeat(); //--></script>
	<svg class="link-chevron hide" xmlns="http://www.w3.org/2000/svg"
		width="10" height="6" viewBox="0 0 7.9 5.2" role="img"
		aria-hidden="true">
		<defs>
		<polygon id="link-chevron"
			points="7.8 1.4 6.4 0.1 3.9 2.5 1.5 0.1 0.1 1.4 3.9 5.1 3.9 5.1 3.9 5.1 "></polygon></defs></svg>
</body>
</html>